arch:
  - amd64
os: linux
dist: jammy
git:
  depth: false

language: bash

services:
  - docker

before_install:
  - mkdir -vp ~/.docker/cli-plugins/
  - curl --silent -L "https://github.com/docker/buildx/releases/download/v0.30.1/buildx-v0.30.1.linux-amd64" > ~/.docker/cli-plugins/docker-buildx
  - chmod a+x ~/.docker/cli-plugins/docker-buildx
  
script:
  - docker login -u="moussavdb" --password-stdin <<< "$DOCKER_PASSWORD";
  - docker buildx create --use
  - docker buildx build --build-arg GH_TOKEN=$GITHUB_TOKEN --build-arg nexus_retro_password=$nexus_retro_password --push --platform linux/arm64/v8,linux/amd64 --tag moussavdb/application-retro-pxl_server:250801 .
